/* line 4, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.title {
  font-family: Georgia,Times,Times New Roman,serif;
}

/* line 8, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.body {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

/* line 15, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
h1 {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

/* line 24, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
blockquote {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 65px;
}

/* line 33, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
h3 {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

/* line 41, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
p {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

/* line 49, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.posts {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 54, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.story {
  margin-left: 50px;
}

/* line 58, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.candidates {
  margin-top: 10px;
  border-left: 1px dotted #DDF;
}

/* line 63, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.content {
  margin-top: 10px;
  margin-left: 15px;
  border-left: 1px dotted #DDF;
}

/* line 69, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.whatsnext {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 76, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.container {
  height: 100%;
  width: 100%;
  font-size: 0;
  float: left;
}

/* line 77, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.votes, .user, .contentbody {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}

/* line 78, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.votes {
  width: 4%;
}

/* line 79, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.user {
  width: 7%;
  position: relative;
  top: 50%;
  transform: translateY(20%);
}

/* line 80, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.contentbody {
  width: 50%;
}

/* line 81, /home/jthluke/Documents/Rails_Decal_Sp2016/rails_proj2_STORY/STORY/app/assets/stylesheets/story.scss */
.likes {
  width: 40px;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
