<h3>Story</h3>

<p>
<% if @user.id == current_user.id %>
	<%= button_to "Create new Post", new_path, :class => "button medium", :method => :get %>
<% end %>
</p>

<p>Beginning: <%= @story.beginning if @story.beginning %></p>

<p><% @story.post.each do |p| %>
	<table>
		<tr>
		<td><b>Content</b>:  <%= p.content %> </td>  
		<td><b>Votes</b>:  <%= p.score %> </td>
	<table>
<% end %></p>


