.top-bar-section li:not(.has-form) a:not(.button) {
	font-size: 100%;
}

label {
	font-size: 100%;
}

input[type="text"] {
	font-size: 80%;
}

input[type="email"] {
	font-size: 80%;
}

input[type="password"] {
	font-size: 80%;
}

.truncate-username {
  max-width: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
  font-weight: bold;
}

.button_custom{
border:px solid #FFFFFF; border-radius: 16px;width:px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; color: #FFFFFF;
 background-color: #45484d; background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
 background-image: -webkit-linear-gradient(top, #45484d, #000000);
 background-image: -moz-linear-gradient(top, #45484d, #000000);
 background-image: -ms-linear-gradient(top, #45484d, #000000);
 background-image: -o-linear-gradient(top, #45484d, #000000);
 background-image: linear-gradient(to bottom, #45484d, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
}

.button_custom:hover{
 border:px solid #FFFFFF;
 background-color: #2d2f32; background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2f32), to(#1a1a1a));
 background-image: -webkit-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -moz-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -ms-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: -o-linear-gradient(top, #2d2f32, #1a1a1a);
 background-image: linear-gradient(to bottom, #2d2f32, #1a1a1a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2d2f32, endColorstr=#1a1a1a);
}
